*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgba(0, 0, 0, 0);
}
/*Neader*/
.header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 3vw 0;
    align-items: baseline;
    background-image: linear-gradient(90deg,white 40%,#E6F4FC);
    position: sticky;
    top: 0px;
    z-index: 2;
}
.header nav{
    display: flex;
    align-items: center;
}
.header nav li{
    margin: 0 2vw;
    list-style: none;
}
.header li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    color: rgb(145, 156, 174);
}
.header li a:hover{
    color: rgb(54, 86, 212);
}
#hoaxbuster{
    padding: 1.5vw;
    background: rgb(54, 86, 212);
    color: white;
    border-radius: 6%;
}
#hoaxbuster:hover{
    background: rgb(9, 42, 172);
}
#Vaccination{
    color: rgb(56, 88, 214);
    font-size: 2.2vw;
    font-weight: bold;
    line-height: 200%;
    text-decoration: none;
}
/*Welcome*/
.welcome{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    z-index: -1;
    background-color: white;
}
.section1{
    display:flex;
    flex-direction: column;
    width: 45%;
}
#title-section1{
    font-size: 4.2vw;
    font-weight: bold;
    color: #1F3E72;
    padding-left: 22%;
    padding-bottom: 1.5vw;
}
#message-main{
    font-size: 1.5vw;
    color: #6D7B93;
    padding-left: 22%;
    padding-bottom: 3vw;
    line-height: 150%;
}
.linebreak{
    height: 2vh;
}
#triangle-down{
    width: 35%;
    height: 15%;
    background: #F4F6FB;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    margin-left: 6%;
}
.best-selected{
    display: flex;
    flex-wrap: wrap;
    padding-left: 22%;
    font-weight: bold;
    color: #1F3E72;
    font-size: 1.1vw;
    padding-bottom: 3.5vw;
}
.schedule{
    display: flex;
    flex-wrap: wrap;
    padding-left: 22%;
    font-weight: bold;
    color: #1F3E72;
    font-size: 1.5vw;
    padding-bottom: 3.5vw;
}
.icon-table{
    margin-right: 3vw;
}
.icon-table td{
    vertical-align: middle;
}
.icon-table td img{
    width: 1.8vw;
}
.scheduleBox{
    margin-left: 22%;
    z-index: 1;
    width: 70vw;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5%;
    border-width: 0.22vw;
    border-style: solid;
    border-color: #FAFAFF;
}
.scheduleBox td img{
    width: 1.8vw;
}
#scheduleBoxIconTitle{
    font-weight:lighter;
    color: #6D7B93;
    font-size: 1.5vw;
}
.scheduleBox td{
    font-weight: bold;
    color: #1F3E72;
    font-size: 1.5vw;
}
#scheduleSubmit{
    padding: 0.9vw;
    background: rgb(54, 86, 212);
    color: white;
    border-radius: 6%;
    text-decoration: none;
}
#scheduleSubmit:hover{
    background: rgb(9, 42, 172);
}
.nurse1{
    background-color: #1589E3;
    padding: 0 8vw;
}
.nurse1 img{
    width: 100%;
    height: 100%;
}
/*Logos*/
.vaccinesLogos{
    display: flex;
    flex-wrap: wrap;
    padding: 7vw 10vw;
    justify-content: space-evenly;
}
.vaccinesLogos img{
   opacity: 0.15;
   filter:grayscale(100%);
   height: 3.8vw;
   padding: 1vw;
}
#title2{
    font-size: 3.5vw;
    font-weight: bold;
    color: #1F3E72;
    padding-left: 12%;
}
/*Benefits*/
#message-main2{
    font-size: 1.5vw;
    color: #6D7B93;
    padding-left: 12%;
    padding-bottom: 0.7%;
    background-color: white;
}
.benefits{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3vw 7vw;
    background-color: white;
}
.benefits div{
    padding: 1.5vw;
    width: 17vw;
    background-color: white;
    border-radius: 6%;
    border-width: 0.3vw;
    border-style: solid;
    border-color: #FAFAFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.benefits img{
    width: 4.5vw;
    padding: 1.6vw 0;
}
.benefits h3{
    font-size: 1.5vw;
    font-weight: bold;
    color: #1F3E72;
    text-align: justify;
    padding-bottom: 1.1vw;
}
.benefits p{
    font-size: 1vw;
    color: #6D7B93;
    text-align: justify;
    padding-bottom: 3vh;
}
/*Advices*/
.preparations{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 4vw 0;
    justify-content: space-between;
    background-color: white;
}
.nurse2{
    background-image: linear-gradient(180deg,white 15%,#1589E3);
    padding: 0 4vw;
}
.nurse2 img{
    width: 35vw;
}
.advices{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 52%;
}
.advices h2{
    font-size: 3.0vw;
    font-weight: bold;
    color: #1F3E72;
    padding-bottom: 2vw;
}
.advices p{
    font-size: 1.5vw;
    color: #6D7B93;
    padding-bottom: 0.7%;
    padding-right: 5vw;
}
.adviceBoxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1vw;
}
.adviceBox{
    padding: 1vw 2vw;
    width: 35vw;
    background-color: white;
    border-radius: 6%;
    border-width: 0.22vw;
    border-style: solid;
    border-color: #FAFAFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
}
.adviceBox img{
    width: 2vw;
}
.adviceBox h3{
    font-size: 1.3vw;
    font-weight: bold;
    color: #1F3E72;
    text-align: justify;
}
.adviceBox:hover{
    background-color: #f0f5fc;
}
.adviceBox p{
    display: none;
    font-size: 1.0vw;
    line-height: 150%;
    color: #6D7B93;
    text-align: justify;
}
.adviceBox:hover>p{
    display: block;
}
.adviceBox:hover>#arrow{
    transform: rotate(180deg);
}
/*Emergency*/
.emergency{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5vw 0;
    justify-content: space-between;
    margin-bottom: 5vw;
    background-color: white;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    padding-left: 8vw;
}
.contact h2{
    font-size: 3.0vw;
    font-weight: bold;
    color: #1F3E72;
}
.contact p{
    font-size: 1.5vw;
    color: #6D7B93;
    padding-bottom: 0.7%;
    padding: 1.2vw 0;
}
.contactBoxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
    padding: 1vw 7vw;
}
.contactBox{
    padding: 2vw;
    width: 14vw;
    background-color: white;
    border-radius: 6%;
    border-width: 0.3vw;
    border-style: solid;
    border-color: #FAFAFF;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
.contactBox img{
    width: 3.5vw;
    grid-row-start: 1;
    grid-row-end: 3;
}
.contactBox h3{
    font-size: 1.3vw;
    font-weight: bold;
    color: #1F3E72;
    text-align: justify;
    padding-bottom: 0.4vw;
}
.contactBox p{
    font-size: 0.9vw;
    font-weight: bold;
    color: #6D7B93;
    text-align: justify;
}
.contactBox a{
    font-size: 1vw;
    font-weight: bold;
    color: #2E4ECB;
    text-decoration: none;
    text-align: center;
    background-color: #F1F5FF;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 1vw 0;
    border-radius: 6%;
}
.contactBox a:hover{
    background-color: #cdd0d6;
}
#boxBlueButton{
    color: white;
    background-color: #3656D4;
}
#boxBlueButton:hover{
    background: #0d2583;
}
.nurse3{
    background-image: linear-gradient(180deg,white 15%,#1589E3);
    padding: 0 3vw;
    padding-top: 12vw;
}
.nurse3 img{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}
/*Footer*/
.footer{
    width: 100%;
    background-color: #EEF3FF;
}
.group1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4.5vw 7vw;
    align-items: baseline;
}
#boxVac{
    padding-right: 25vw;
}
#boxVac p{
    color: #7D8AA1;
    line-height: 180%;
    font-size: 1.2vw;
}
.box h2{
    color: #1F3E72;
    font-size: 1.6vw;
    line-height: 200%;
}
.box p{
    color: #7D8AA1;
    line-height: 250%;
    font-size: 1.2vw;
}
.box p a{
    color: rgb(56, 88, 214);
    text-decoration: none;
}
.box p a:hover{
    color: #7D8AA1;
}
.group2{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    background-color: #EEF3FF;
    padding: 1.5vw 7vw;
    justify-content: space-between;
}
.group2 p{
    color: #7D8AA1;
    font-size: 1.2vw;
}
/*---------------------Page Conecting-----------------*/
.connecting{
    background-color: black;
    width: 100%;
}
.connecting img{
    padding-left: 10vw;
    width: 80%;
}
/*---------------------Page Under Construction-----------------*/
.construction{
    background-color: #FFC600;
    width: 100%;
}
.construction img{
    padding-left: 10vw;
    width: 80%;
}
.construction h1{
    text-align: center;
    padding: 1.5vw;
    font-size: 3vw;
    color: #2D2D2E;
}
.construction h3{
    text-align: center;
    padding: 1vw;
    font-size: 1.8vw;
    color: #2D2D2E;
}
/*---------------------Page About us-----------------*/
.about{
    background-color: #FCFEFC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8vw 3vw;
}
.about div{
    text-align: center;
}
.about img{
    height: 20vw;
}
.about div p{
    color: rgb(131, 134, 139);
    padding: 0.5vw 1vw;
    font-size: 1.3vw;
    font-weight: bold;
}
.about div h2{
    color: #0d2583;
    padding-bottom: 1vw;
    font-size: 2.8vw;
}
.about div ul{
    list-style: none;
}
.about div a{
    color:#1589E3;
    font-size: 1.3vw;
    font-weight: bold;
    text-decoration: none;
}


@media screen and (max-width:1275px){
    /*Header*/
    #Vaccination{
        font-size: 3.5vw;
        line-height: 100%;
    }
    .header li a{
        font-size: 1.9vw;
    }
    /*Welcome*/
    .welcome{
        justify-content: right;
        background-color: rgba(14, 147, 229, 0.178);
    }
    .section1{
        width: 100%;
        background-image: url("Images/nurse1.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        padding-right: 2vw;
    }
    #title-section1{
        padding-left: 0;
        text-align: right;
    }
    #message-main{
        padding-left: 40vw;
        text-align: right;
        font-size: 2.8vw;
    }
    .best-selected{
        padding-left: 40vw;
    }
    .schedule{
        padding-left: 40vw;
    }
    .scheduleBox{
        margin-left: 15vw;
    }
    .icon-table td img{
        width: 2.5vw;
    }
    .icon-table td{
        font-size: 2vw;
    }
    .scheduleBox td img{
        width: 2.8vw;
    }
    #scheduleBoxIconTitle{
        font-size: 2.8vw;
    }
    .scheduleBox td{
        font-size: 1.9vw;
    }
    .nurse1{
        display: none;
    }
    /*benefits*/
    #title2{
        padding-left: 0;
        text-align: center;
    }
    #message-main2{
        text-align: center;
        padding-left: 0;
        font-size: 2vw;
    }
    .benefits{
        padding: 3vw;
        justify-content:center; 
        gap: 0.5vw;
    }
    .benefits div{
        width: 28vw;
    }
    .benefits img{
        width: 6.5vw;
    }
    .benefits h3{
        font-size: 3vw;
        text-align: left;
    }
    .benefits p{
        font-size: 2vw;
    }
    /*Preparations*/
    .preparations{
        background-image: linear-gradient(180deg,white 30%,#1589E3);
        margin-bottom: 5vw;
        height: 65vw;
    }
    .nurse2{
        display: none;
    }
    .advices{
        width: 100%;
        background-image: url("Images/nurse2.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }
    .advices h2{
        text-align: right;
        padding-right: 5vw;
    }
    .advices p{
        text-align: right;
        font-size: 2.5vw;
        padding-left:40vw;
    }
    .adviceBoxes{
        padding-left: 48vw;
    }
    .adviceBox{
        width: 42vw;
    }
    .adviceBox h3{
        font-size: 2.2vw;
    }
    .adviceBox p{
        font-size: 2.0vw;
        padding: 0;
    }
    /*Emergency*/
    .emergency{
        padding: 0;
        background-image: linear-gradient(180deg,white 15%,#1589E3);
    }
    .contact{
        width: 100%;
        background-image: url("Images/nurse3.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
    .contact h2{
        text-align: left;
    }
    .contact p{
        text-align: left;
        font-size: 2vw;
        padding-right: 30vw;
    }
    .contactBoxes{
        width: 60%;
        padding: 1vw;
        gap: 1vw;
    }
    .contactBox{
        padding: 2vw;
        width: 20vw;
    }
    .contactBox img{
        width: 4.0vw;
    }
    .contactBox h3{
        font-size: 2.3vw;
    }
    .contactBox p{
        font-size: 1.8vw;
    }
    .contactBox a{
        font-size: 2vw;
        text-align: center;
        padding: 1vw 1vw;
        width: 18vw;
    }
    .nurse3{
        display: none;
    }
    /*Footer*/
    .group1{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 4.5vw 2vw;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
    }
    #boxVac{
        padding-right: 0;
    }
    #boxVac p{
        font-size: 2.5vw;
    }
    .box h2{
        font-size: 3.2vw;
    }
    .box p{
        font-size: 2.5vw;
    }
    .group2{
        padding: 1.5vw 0.5vw;
    }
    .group2 p{
        font-size: 2.5vw;
    }
    /*---------------------Page Connecting -----------------*/
    .connecting{
        height: 80vh
    }
    .connecting img{
        padding-top: 10vh;
    }
    /*---------------------Page Under Construction-----------------*/
    .construction h1{
        font-size: 5vw;
    }
    .construction h3{
        font-size: 3.2vw;
    }
    /*---------------------Page About Us-----------------*/
    .about div p{
        font-size: 2.2vw;
    }
    .about div a{
        font-size: 2.2vw;
    }
}